# 1. Archivos compilados de Python
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/

# 2. Configuraciones de IDEs
.idea/
.vscode/
.debris/
*.swp
*.swo
.flake8

# 3. Archivos basura del Sistema Operativo
.DS_Store
Thumbs.db

# 4. Archivos temporales de sincronización
.sync_*.db
