html.pase-body, body.pase-body {
    overflow: visible;
    padding: 0;
    margin: 0;
    width: 1492px;
}

.pase-contenedor {
    width: 948px;
    font-family: Arial, 'Times New Roman', sans-serif;
}

.pase-front-back {
    position: relative;
    overflow: visible;
    height: 1492px;
    width: 948px;
}

.pase-base {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: solid 17px;
    border-radius: 50px;
    border-top-width: 246px;
}

.pase-color-bordes-permanente {
    border-color:  darkblue;
}

.pase-color-bordes-provisional {
    border-color:  grey;
}

.pase-color-bordes-especial {
    border-color:  darkgreen;
}

.pase-color-bordes-constructor {
    border-color:  black;
}

.pase-tipo-credencial {
    height: 193px;
    width: 916px;
    position: absolute;
    margin: -115px auto auto 0px;
    text-align: center;
}

.pase-tipo-credencial-data {
    font-size: 560% ;
    color: white;
    font-family: 'Calibri', 'Times New Roman', sans-serif;
    font-weight: 700;
}

/*Parte delantera*/
.pase-imagen {
    position: relative;
    margin: 30px auto auto 200px;
    height: 505px;
    width: 525px;
    text-align: center;
}

.pase-nombre {
    height: 110px;
    width: 95%;
    overflow: hidden;
    margin: 30px auto auto 90px;
}

.pase-nombre-contenedor {
    position: relative;
    height: 100px;
    width: 98%;
    margin: 0px auto auto 0px;
    text-align: left;
}

.pase-nombre-data {
    font-size: 290%;
    font-weight: 400;
}

.pase-identificacion {
    height: 45px;
    width: 95%;
    margin: 10px auto auto 90px;
}

.pase-identificacion-contenedor-text {
    position: relative;
    height: 45px;
    width: 15%;
    margin: 0px auto auto 0px;
    text-align: left;
}

.pase-identificacion-text {
    font-size: 290%;
    font-weight: 400;
}

.pase-identificacion-contenedor-id {
    position: relative;
    height: 45px;
    width: 80%;
    margin: -45px auto auto 60px;
    text-align: left;
}

.pase-identificacion-data {
    font-size: 290%;
    font-weight: 400;
}

.pase-front-lower-seccion {
    overflow: visible;
    height: 480px;
    width: 97%;
    margin: 0px auto auto 0px;
    border: solid 1px white;
}

.pase-logo-etecsa-contenedor {
    position: relative;
    margin: -200px auto auto 540px;
    height: 90%;
    width: 40%;
    text-align: left;
}

.pase-numero-credencial-contenedor {
    position: relative;
    height: 50%;
    width: 60%;
    margin: 100px auto auto 90px;
    text-align: left;
    font-size: 80%;
}

.pase-numero-credencial-data {
    font-size: 400%;
    font-weight: 700;
}

.pase-alcance-siglas {
    position: relative;
    height: 50%;
    width: 80%;
    margin: 150px auto auto 88px;
    text-align: left;
}

.pase-alcance-contenedor {
    position: relative; 
    margin: 0px auto auto auto;
    text-align: left;
    overflow: hidden;
}

.pase-alcance-data {
    position: relative;
    font-size: 455%;
    font-weight: 400;
}

.pase-text-contenedor {
    position: relative; 
    margin: -97px auto auto 210px;
    text-align: left;
    overflow: hidden;
}

.pase-text-data {
    position: relative;
    font-size: 455%;
    font-weight: 400;
}

.pase-siglas-contenedor {
    position: relative; 
    margin: -94px auto auto 237px;
    text-align: left;
    overflow: hidden;
}

.pase-siglas-data {
    position: relative;
    font-size: 455%;
    font-weight: 700;
}

/*Parte Trasera*/
.accesos {
    position: relative;
    margin: 48.48px auto auto 49.93px;
    font-size: 377%;
}

.accesos-contenedor-line1 {
    position: relative;
    margin: 150px auto auto auto;
    height: 94.74px;
    width: 90%;
    text-align: center;
    border-top: 3px;
}

.accesos-contenedor-line2 {
    position: relative;
    margin: 50px auto auto auto;
    height: 94.74px;
    width: 90%;
    text-align: center;
    border-top: 3px solid black;
}

.accesos-contenedor-line3 {
    position: relative;
    margin: 50px auto auto auto;
    height: 94.74px;
    width: 90%;
    text-align: center;
    border-top: 3px;
}

.valido-label {
    position: relative;
    margin: 0px auto auto 50px;
    height: 94.74px;
    width: 60%;
    text-align: left;
}

.valido-label-data {
    font-size: 318%;
}

.firma-contenedor {
    position: relative;
    margin: 150px auto auto auto;
    height: 63.16px;
    width: 80%;
    border-top: 3px solid black;
    text-align: center;
}

.firma-data {
    font-size: 279%;
}

.pase-logo2-etecsa-contenedor {
    position: relative;
    margin: 20px auto auto auto;
    height: 260px;
    width: 95%;
    text-align: center;
}
