.btn_selector_tema {
  padding: 0 4px;
  margin: 0 5px 0 0;
  -webkit-box-shadow: 6px 10px 60px #222222;
}

.btn_selector_tema_sol {
  color: yellow;
  border-radius: 28px;text-shadow: 1px 1px 1px #222222;
  -webkit-box-shadow: 2px 12px 13px #222222;
}

.btn_selector_tema_luna {
  color: deepskyblue;
  border-radius: 28px;text-shadow: 1px 1px 1px #e0e9f2;
  -webkit-box-shadow: 2px 12px 13px #e0e9f2;
}