.o_list_view thead > tr > th {
    padding: 6px 4px;
}

.dropdown-menu.fullscreen-menu.menu_app.show{
    div.menu-app-logo-division{
        //font-size: 150%;
        //position: absolute;
        margin-top: 2%;
        //margin-left: 35%;
        //height: 70px;
        //width: 500px;
        //margin: 0 auto;
    }

    div.menu-app-logo-cuba{
        //position: absolute;
        margin-top: 0;
        margin-bottom: 0;
        //margin-left: 50%;
        //height: 50px;
    }
}